.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

#currencySelect {
    background-color: orange;
    width: 200px;
    height: 50px;
    border-radius: 8px;
}